#userScore {
    display: none;
    flex-direction: row;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}

header{
    color: white;
    position: relative;
    right: -20%;
    font-size: 70px;
}

button{
    background-color: aqua;
    height: 50px;
    width: 70px;
    border-radius: 10%;
    font-weight: bold;
    color: rgb(164, 144, 144);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 117, 117);
}

#answersContainer{
    position: relative;
    margin-top: 20%;
    background-color: #555;
    color: #eae7e7;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 800px;
    padding: 15px;
    right: 100px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 15px;
}

.score, .userScore, .yourScore, .fraction {
    color: gray;
}